@import "mixins";
@import "variables";
@import "transitions";
@import "calendar";
@import "toast";


.el-autocomplete {
  .el-input {
    height: 100%;
  }
}
.el-select__wrapper {
  height: 100%;
}
.error {
  .dp__input, .form-select, .dp_select_menu {
    border: 1px solid red !important;
  }
  .dp_select_menu {
    border-radius: 8px;
  }
}
.error .error-select-menu {
  border: 1px solid red !important;
}
.charter-main {
  .el-select__suffix {
    display: none;
  }
}

.transition-200 {
  transition: .2s ease-in-out;
}
.el-popper[aria-hidden=false] {
  display: block !important;
}

.scroll-bar {
  &::-webkit-scrollbar {
    width: 6px; /* width of the scrollbar */
  }
}
.company-tour-select {
  min-width: 280px !important;
  padding: 6px;
  .el-select-group__title {
    padding: 8px 12px;
    background: #D8E9FE;
    color: #1351D6;
    font-weight: 500;
    font-size: 14px;
  }
  .el-select-dropdown__item {
    padding: 10px !important;
    font-size: 14px;
    height: auto !important;
  }
  .el-select-group__wrap {
    padding-bottom: 0;
    &:after {
      display: none;
    }
  }
}
.room-image .demo-image__error .block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px var(--el-border-color);
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  vertical-align: top;
}
.room-image .demo-image__error .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}
.room-image .demo-image__error .el-image {
  padding: 0 5px;
  max-width: 300px;
  max-height: 200px;
  width: 100%;
  height: 200px;
}

.image-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--el-fill-color-light);
  color: var(--el-text-color-secondary);
  font-size: 30px;
}
.image-slot .el-icon {
  font-size: 30px;
}

.input_error {
  border-bottom: 1px solid red !important;
  border-radius: 6px !important;
}